@font-face {
  font-family: "MyFontc";
  src: url("alarm clock.ttf") format("truetype");
}

@font-face {
  font-family: "whac";
  src: url("HelloWhackAMole.ttf") format("truetype");
}

body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: darkorange;
  background-image: linear-gradient(
      90deg,
      rgba(139, 69, 19, 0.1) 15%,
      transparent 23%
    ),
    linear-gradient(-90deg, rgba(139, 69, 19, 0.1) 35%, transparent 22%),
    linear-gradient(90deg, transparent 95%, rgba(139, 69, 19, 0.1) 65%),
    linear-gradient(-90deg, transparent 5%, rgba(139, 69, 19, 0.1) 55%);
  background-size: 5px 20px;
}

h1 {
  text-align: center;
  font-family: "whac";
  color: blue;
  text-shadow: black 1px 2px 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 2rem 1rem 2rem black, -2rem -1rem 2rem black,
    -2rem 1rem 2rem black, 2rem -1rem 2rem black;
  background: black;
  border: 0.5rem solid transparent;
  border-width: 0.5rem 0;
  background-image: linear-gradient(gold, yellow),
    linear-gradient(to bottom right, transparent 50.5%, gold 50.5%),
    linear-gradient(to bottom left, transparent 50.5%, gold 50.5%),
    linear-gradient(to top right, transparent 50.5%, yellow 50.5%),
    linear-gradient(to top left, transparent 50.5%, yellow 50.5%);
  background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 0.5rem 0, 0.5rem 0, 0.5rem 100%, 0.5rem 100%;
  background-size: auto auto, 1rem 1rem, 1rem 1rem, 1rem 1rem, 1rem 1rem;
  background-clip: padding-box, border-box, border-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box, border-box, border-box;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 25%;
  width: 50%;
  font-family: "whac";
  color: red;
}

.stat {
  font-size: 2em;
  margin-bottom: 0.5rem;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-shadow: black 1px 2px 0;
  box-shadow: 1rem 0.3rem 1rem black, -1rem -0.3rem 1rem black,
    -1rem 0.3rem 1rem black, 1rem -0.3rem 1rem black;
  background: black;
  border: 0.5rem solid transparent;
  border-width: 0.5rem 0;
  background-image: linear-gradient(forestgreen, lawngreen),
    linear-gradient(to bottom right, transparent 50.5%, forestgreen 50.5%),
    linear-gradient(to bottom left, transparent 50.5%, forestgreen 50.5%),
    linear-gradient(to top right, transparent 50.5%, lawngreen 50.5%),
    linear-gradient(to top left, transparent 50.5%, lawngreen 50.5%);
  background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 0.5rem 0, 0.5rem 0, 0.5rem 100%, 0.5rem 100%;
  background-size: auto auto, 1rem 1rem, 1rem 1rem, 1rem 1rem, 1rem 1rem;
  background-clip: padding-box, border-box, border-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box, border-box, border-box;
}

.statz {
  font-size: 0.5em;
  margin-bottom: 0.5rem;
  color: darkgrey;
}

.score {
  font-size: 2rem;
  font-family: "MyFontc";
  font-weight: lighter;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 3px #b43434, 0 0 7px rgb(195, 41, 41), 0 0 12px #be1a1a,
    0 0 22px #e40808;
  background: black;
  width: 2.5rem;
  border-left: 0.4rem solid black;
  border-right: 0.4rem solid black;
  border-top: 0.2rem solid black;
  display: inline-block;
  text-align: right;
}

.hash {
  font-size: 2rem;
  font-family: "MyFontc";
  font-weight: lighter;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 3px #b43434, 0 0 7px rgb(195, 41, 41), 0 0 12px #be1a1a,
    0 0 22px #e40808;
  background: black;
  width: 15rem;
  border-left: 0.4rem solid black;
  border-right: 0.4rem solid black;
  border-top: 0.2rem solid black;
  display: inline-block;
  text-align: right;
}

.year {
  font-size: 2rem;
  font-family: "MyFontc";
  font-weight: lighter;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 3px #b43434, 0 0 7px rgb(195, 41, 41), 0 0 12px #be1a1a,
    0 0 22px #e40808;
  background: black;
  width: 4rem;
  border-left: 0.4rem solid black;
  border-right: 0.8rem solid black;
  border-top: 0.2rem solid black;
  display: inline-block;
  text-align: right;
}

.buttons {
  width: 50%;
  margin-left: 25%;
  margin-top: 0.15rem;
  display: flex;
  flex-direction: rows;
  justify-content: flex-end;
}

button.start {
  position: relative;
  text-shadow: darkgrey 1px 1px 1px, darkgrey -1px -1px 1px,
    darkgrey -1px 1px 1px, darkgrey 1px -1px 1px;
  margin-left: 1rem;
  width: 3.8rem;
  height: 3.8rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: red;
  background-image: radial-gradient(
    1.2rem 1.2rem,
    circle contain,
    red 0.5rem,
    #ff8080 1rem,
    #ff8080 1.2rem,
    #cc0000 1.8rem
  );
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.4rem 0.2rem,
    rgba(255, 255, 255, 0.7) 0 0.1rem 0.1rem inset, red 0 0.3rem 0.4rem inset,
    rgba(0, 0, 0, 0.3) 0 0.8rem 0.4rem inset,
    rgba(255, 255, 255, 0.5) 0 -2px 3px inset, red 0 -7px 20px inset;
  border-radius: 500px;
  border: red 1px solid;
  display: block;
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0.3rem;
  background: #cc0000;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 50%;
  box-shadow: rgba(204, 0, 0, 0.8) 0 4px 5px inset,
    rgba(255, 255, 255, 0.5) 0 12px 5px inset,
    rgba(153, 0, 0, 0.7) 0 -12px 5px inset, rgba(0, 0, 0, 0.8) 0 4px 8px;
}

button:hover {
  cursor: pointer;
  font-size: 1.1rem;
  background-image: radial-gradient(
    1.2rem 1.2rem,
    circle contain,
    red 0.5rem,
    #ff8080 1.1rem,
    #ff8080 1.2rem,
    #cc0000 1.8rem
  );
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.4rem 0.2rem,
    rgba(275, 255, 255, 0.7) 0 0.1rem 0.1rem inset, tomato 0 0.3rem 0.4rem inset,
    rgba(0, 0, 0, 0.3) 0 0.8rem 0.9rem inset,
    rgba(255, 255, 275, 0.5) 0 -2px 3px inset, red 0 -7px 20px inset;
}

button:active {
  cursor: crosshair;
  font-size: 1.2rem;
  background-image: radial-gradient(
    1.2rem 1.2rem,
    circle contain,
    black 0.5rem,
    #ff8080 1.1rem,
    #ff8080 1.2rem,
    #cc0000 1.8rem
  );
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.4rem 0.2rem,
    rgba(275, 255, 255, 0.7) 0 0.1rem 0.1rem inset, darkred 0 0.3rem 0.4rem inset,
    rgba(0, 0, 0, 0.3) 0 0.8rem 0.9rem inset,
    rgba(255, 255, 275, 0.5) 0 -2px 3px inset, red 0 -7px 20px inset;
}

button.help {
  position: relative;
  text-shadow: darkgrey 1px 1px 1px, darkgrey -1px -1px 1px,
    darkgrey -1px 1px 1px, darkgrey 1px -1px 1px;
  margin-left: 1rem;
  width: 3.8rem;
  height: 3.8rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: blue;
  background-image: radial-gradient(
    1.2rem 1.2rem,
    circle contain,
    blue 0.5rem,
    #ff8080 1rem,
    #ff8080 1.2rem,
    #cc0000 1.8rem
  );
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.4rem 0.2rem,
    rgba(255, 255, 255, 0.7) 0 0.1rem 0.1rem inset, blue 0 0.3rem 0.4rem inset,
    rgba(0, 0, 0, 0.3) 0 0.8rem 0.4rem inset,
    rgba(255, 255, 255, 0.5) 0 -2px 3px inset, blue 0 -7px 20px inset;
  border-radius: 500px;
  border: blue 1px solid;
  margin-right: 0.5rem;
}

button.help:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0.3rem;
  background: #0000cc; /* Blue equivalent of #cc0000 */
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 204, 0.8) 0 4px 5px inset, /* Blue equivalent of rgba(204, 0, 0, 0.8) */
    rgba(255, 255, 255, 0.5) 0 12px 5px inset,
    rgba(0, 0, 153, 0.7) 0 -12px 5px inset, /* Blue equivalent of rgba(153, 0, 0, 0.7) */
    rgba(0, 0, 0, 0.8) 0 4px 8px;
}

button.help:hover {
  cursor: pointer;
  font-size: 1.1rem;
  background-image: radial-gradient(
    1.2rem 1.2rem,
    circle contain,
    blue 0.5rem,
    #ff8080 1.1rem,
    #ff8080 1.2rem,
    #cc0000 1.8rem
  );
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.4rem 0.2rem,
    rgba(275, 255, 255, 0.7) 0 0.1rem 0.1rem inset, lightblue 0 0.3rem 0.4rem inset,
    rgba(0, 0, 0, 0.3) 0 0.8rem 0.9rem inset,
    rgba(255, 255, 275, 0.5) 0 -2px 3px inset, blue 0 -7px 20px inset;
}

button.help:active {
  cursor: crosshair;
  font-size: 1.2rem;
  background-image: radial-gradient(
    1.2rem 1.2rem,
    circle contain,
    black 0.5rem,
    #ff8080 1.1rem,
    #ff8080 1.2rem,
    #cc0000 1.8rem
  );
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.4rem 0.2rem,
    rgba(275, 255, 255, 0.7) 0 0.1rem 0.1rem inset, darkblue 0 0.3rem 0.4rem inset,
    rgba(0, 0, 0, 0.3) 0 0.8rem 0.9rem inset,
    rgba(255, 255, 275, 0.5) 0 -2px 3px inset, blue 0 -7px 20px inset;
}

.allmole {
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country {
  border: 3px ridge grey;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #111111;
  height: 15vh;
  width: calc(25% - 1vh);
  margin-bottom: 1vh;
  background-position: center;
  border-radius: 80rem;
  overflow: hidden;
  box-shadow: 0.3rem 0.3rem 0.5rem black, -0.3rem -0.3rem 0.5rem black,
    -0.3rem 0.3rem 0.5rem black, 0.3rem -0.3rem 0.5rem black;
}

.country:hover {
  cursor: crosshair;
}

.country1 {
  background-image: url(canada.png);
}

.country2 {
  background-image: url(eg.png);
}

.country3 {
  background-image: url(it.png);
}

.country4 {
  background-image: url(tr.png);
}

.country5 {
  background-image: url(ru.png);
}

.country6 {
  background-image: url(cy.png);
}

.country7 {
  background-image: url(gb.png);
}

.country8 {
  background-image: url(ng.png);
}

.country9 {
  background-image: url(us.png);
}

.country10 {
  background-image: url(ve.png);
}

.country11 {
  background-image: url(id.png);
}

.country12 {
  background-image: url(in.png);
}

.country13 {
  background-image: url(fr.png);
}

.country14 {
  background-image: url(china.png);
}

.country15 {
  background-image: url(de.png);
}

.country16 {
  background-image: url(southafrica.png);
}

.up {
  height: 15vh;
  width: 100%;
  background-image: url(mole.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  overflow: hidden;
  animation: rise 0.93s ease-out;
}

@keyframes rise {
  0% {
    transform: translateY(100%);
  }
  15% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.smashed {
  height: 15vh;
  background-image: url(sandwich.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  background: url("https://image.nostr.build/nostr.build_90dd9ee1e3c49caf1b21b4153871b8b12a8680ebb5792d5d7410bfb44059b2c8.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: purple;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.6rem black, -0.1rem -0.1rem 0.6rem black,
    -0.1rem 0.1rem 0.6rem black, 0.1rem -0.1rem 0.6rem black;
}

.modal-content h2 {
  font-size: 3.5rem;
  margin-top: 0;
}

.modal-content p {
  font-size: 2.5rem;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .allmole {
    width: 95%;
  }
  .stats {
    margin-left: 2.5%;
    width: 95%;
  }
  .modal-content p {
    font-size: 30px;
  }
  .country {
    width: calc(25% - 1vh);
  }
}
